a {
    color:darkgreen;
}

a:hover {
    background:lightyellow;
}

.fillL {
    background:#f5f5f5;
}

.fillE {
    background:#eee;
}

.fillG {
    background-color:#DBF1D1;
    background-image:url(osm.png);
    background-size:100% auto;
}

.no-margin {
    margin:0;
}

h2 {
    font-family:'Merriweather',Georgia,serif;
    font-weight:normal;
    font-size:30px;
}

h3 {
    text-transform:uppercase;
    padding-bottom:5px;
    border-bottom:solid 2px #eee;
}

span.step {
    display:inline-block;
    width:30px;
    height:30px;
    background:#fff;
    color:#666;
    text-align:center;
    margin-right:10px;
    vertical-align:center;
}

em {
    font-style:normal;
    background:lightyellow;
    padding:2px;
}

.drop {
    margin-top:80px;
}

.huge {
    padding:20px 40px;
    font-size:30px;
}

.button.medium {
    padding:5px 10px;
    font-size:14px;
    background:#F5C1BD;
    color:#222;
}

.button {
    background:#eb6f67;
    color:#fff;
    text-align:center;
    text-decoration:none;
    border:none;
    border-radius:5px;
    font-weight:normal;
    border-bottom:1px solid #A53931;
    transition:background 100ms linear;
}

.button:hover {
    background:#EB8C85;
}

.sprite {
    background-image:url(sprite.png);
    background-size:500px 250px;
    display:inline-block;
}

.sprite.small {
    width:50px;
    height:50px;
}

.sprite.x {
    background-position:-50px 0;
}

.sprite.large {
    width:350px;
    height:200px;
}

.sprite.one-map {
    background-position:0 -50px;
}

.sprite.term {
    margin-right:10px;
    vertical-align:middle;
}

.sprite.node {
    background-position:-100px 0;
}

.sprite.way {
    background-position:-150px 0;
}

.sprite.changeset {
    background-position:-200px 0;
}

.sprite.editor {
    background-position:-250px 0;
}

.small {
    font-size:small;
}

.deemphasize a {
    text-decoration:none;
    color:#DD9D92;
    border-bottom:1px solid #E9B7AE;
}
